:root {
    --while-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    /* padding: 0;
    margin: 0; */
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
/* responsive */
.grid {
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
}
.grid__row-car {
    display: flex;
    flex-wrap: wrap;
}
/* test */
.grid__column-2 {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
}
.grid__column-3 {
    padding-left: 10px;
    padding-right: 10px;
    width: 33%;
}
.grid__column-4 {
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
}
.grid__column-2-4 {
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 10px;
    padding-right: 10px;
    width: 83.3334%;
}
.grid__row-bike {
    display: flex;
    flex-wrap: wrap;
}
